<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clase 17</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Este es un archivo html</h1> <!-- comentario-->
        <section class="one">
            <img src="/img/avatar.jpg">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae blanditiis eaque molestias dolorum cupiditate quod, animi reprehenderit tempora sint ab fugiat, dolores hic accusamus adipisci. Incidunt vel id fugit esse?
            Eaque placeat aliquid laboriosam ut amet rerum itaque a assumenda repellendus consequatur eveniet quia officiis delectus vero, ab ipsum sunt! Reiciendis officia rerum voluptate temporibus voluptatem id laudantium, dicta natus.
            Tempora perspiciatis magnam ipsam. Sunt dolores consequatur, soluta animi deleniti voluptas aperiam ipsum perspiciatis. Quisquam officiis voluptatem, nemo numquam nihil, praesentium recusandae impedit id iusto, ducimus facilis vitae iste omnis!
            Facere, natus? Quasi eius commodi sed ut blanditiis laudantium quibusdam, autem explicabo quidem aliquid iste vel neque! Eligendi sit porro autem molestias nemo adipisci pariatur dolor quas qui. Numquam, cupiditate.
            Voluptates ab vitae enim reprehenderit eos officiis impedit illo eligendi hic voluptate. Cumque labore ipsa, quas, assumenda aliquid ipsam quasi aperiam, nisi tempora earum pariatur? Sunt consectetur enim assumenda doloremque!
            Recusandae consectetur cumque dolores sunt architecto vel officia repellat id, dolor cum quo possimus est voluptates suscipit iste debitis, voluptatem, et aspernatur? Nulla, facere commodi libero voluptatum aperiam eum consequatur?
            Voluptate, quidem fugit ducimus consequatur iure illum qui doloremque, nihil rerum et eligendi suscipit voluptatibus deleniti porro impedit facilis eos adipisci? Facilis quis necessitatibus modi, possimus minus eaque veritatis distinctio.
            Eligendi eveniet similique saepe totam corrupti eaque laborum ipsam consequatur amet magni obcaecati, earum asperiores, repellat, placeat fugiat. Excepturi qui, similique voluptatibus a aliquam provident illum nostrum quia fugiat tenetur.
        </section>
    </header>
    <main>
        <section>
            <p>Un poco mas de texto para poder hacer una prueba en html</p>
        </section>
        <br>
        <div class="container">
            <div>
                <p>este es un div con texto dentro de un div</p>
            </div>
            <div>
                <p>este es otro div con texto dentro del mismo div y en otro</p>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis sapiente, quidem dolorem expedita qui alias aut, suscipit atque recusandae necessitatibus odio, ipsa iste eligendi! Ducimus exercitationem eligendi quaerat earum culpa!</p>
            </div>
        </div>
    </main>
    <footer>
        <a href="https:/www.google.com" target="_blank">Ir a google</a>
    </footer>
</body>
</html>