<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clase 17</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Este es un archivo html</h1> <!-- comentario-->
        <img src="/img/avatar.jpg">
    </header>
    <main>
        <section>
            <p>Un poco mas de texto para poder hacer una prueba en html</p>
        </section>
        <br>
        <div class="container">
            <div>
                <p>este es un div con texto dentro de un div</p>
            </div>
            <div>
                <p>este es otro div con texto dentro del mismo div y en otro</p>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis sapiente, quidem dolorem expedita qui alias aut, suscipit atque recusandae necessitatibus odio, ipsa iste eligendi! Ducimus exercitationem eligendi quaerat earum culpa!</p>
            </div>
        </div>
    </main>
    <footer>
        <a href="https:/www.google.com" target="_blank">Ir a google</a>
    </footer>
</body>
</html>